.container h1 {
    margin-bottom: 50px;
}
.container .search-controls {
    width:500px;
    height: 80px;
}
.container .search-controls .search {
    width:300px;
    display: inline;
}
.container .search-controls .btn {
    display: inline;
}
.container .results {

}
.container .results .result {
    height: 100px;
}
.container .results .result h3, .container .results .result h4 {
    padding:0;
    margin:0;
}